<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messaging Client</title>
</head>
<body>
    
    <h1>CyberSoc FIX Messaging Client!</h1>
    <h2>About:</h2>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias necessitatibus, saepe quae quisquam eligendi ad recusandae provident incidunt, magni neque ipsum sequi ex et distinctio eos explicabo quam iste esse!

    <h2>Menu</h2>
    <a href="/place">Place an Order!</a> <br><br>
    <a href="/cancel">Cancel an Order!</a>  <br><br>
    <a href="/status"> Get The Status of an Order </a> <br><br>
    <a href="/slides"> Get The Slides</a><br><br>

</body>
</html>